#:db{:ident :test-attribute-id2, :valueType :db.type/bytes, :cardinality :db.cardinality/one, :doc "Some nice label"}
#:db{:ident :test-attribute-id1, :valueType :db.type/bytes, :cardinality :db.cardinality/one, :doc "Some nice label"}